/*每一篇*/
.list_item{
	width: 900px;
    margin: 20px auto;
	padding-bottom: 23px;
	margin-bottom: 30px;
	border-bottom: 1px dashed #ddd;
}
/*标题*/
.link_title{
    margin: 20px 0 0 30px;
	display: block;
}
.link_title a{
	margin-left: 5px;
	color: #000;
	cursor: pointer;
}
.link_title a:hover{
	color: #999;
}
.list_description{
	display: block;
	font: 14px/24px 'microsoft yahei';
    margin: 17px 40px 10px 20px;
    text-indent: 2em;
    color: #666;
}
.list_manage{
	text-align: right;
}
.list_manage span{
	font-size: 5px;
	margin-right: 16px;
	color: #999;
}
.list_up:after{
	content: '顶';
}
.list_down:after{
	content: '踩';
}
.link_comments:after{
	content: "评论";
}
.apart_left,.apart_right{
	width: 93px;
    height: 30px;
    background-color: white;
    float: right;
    margin-right: 20px;
    margin-top: 7px;
    color: black;
    text-align: center;
    line-height: 30px;
    font-size: 13px;
    cursor: pointer;
}
.apart_left:after{
	content: "  目录视图";
	color: #999;
}
.apart_right:after{
	content: "  摘要视图";
	color: #999;
}


